<template>
    <div>
        <button  class="w3-button w3-block w3-left-align">
            <p>
                <NuxtLink to="dashboard" class="router-link-active has-icon" >
                    <span class="icon"><i class="fa fa-dashboard fa-fw"></i></span>
                    <span class="menu-item-label"> Dashboard </span>
                </NuxtLink>
            </p>
        </button>
        <div v-for="(seccion, index) in Object.keys(seccionMenu)" :key="index">
            <button @click="myAccordion(index)" class="w3-button w3-block w3-left-align">
                <p>
                    {{ seccion }} 
                    <i class="fa fa-angle-down fa-fw" aria-hidden="true" style="float: right"></i>
                </p>
            </button>
            <div :ref="el => { secciones[index] = el }" class="w3-container w3-white w3-hide">
                <p v-for="(key, index) in Object.keys(seccionMenu[seccion])" :key="index">
                    <NavLink
                        :key="key"
                        :seccion="seccionMenu[seccion][key]" />
                </p>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    const { 
        getNavLinks 
    } = useApi();
    const attrs = useAttrs();
    const credentials: any = attrs.credentials;
    const seccionMenu: any = ref({});
    const secciones: any = ref([]);

    getNavLinks(credentials.grupo.id).then(response => {
        seccionMenu.value = Object.groupBy(response, ( { menu }:any ) => menu.label);
    }).catch(error => console.error(error));

    const myAccordion = (index: number) => {
        const element = secciones.value[index];
        if(element.className.indexOf("w3-show") == -1)
            element.className += " w3-show";
        else
            element.className = element.className.replace(" w3-show", "");
    }
</script>