<template>
    <div>
        <MessageBox 
            v-if="showMessageBox"
            :messageBody="messageBody" />
        <FormularioComponent v-if="documentIsReady"
            :key="keyFormulario"
            :inputs="inputs"
            :buttonDisabled="buttonDisabled"
            :buttonSize="3"
            @handleSubmit="handleSubmit"
            @setFormdata="setFormdata" />
        <MessageBox 
            v-if="showMessageBox"
            :messageBody="messageBody" />
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();

    const { 
        getInputs,
        save
    } = useApi();

    const {
        mysqlTimeStamp,
        objectClean,
        flipStatus
    } = useUtils();

    const initForm = {
        status: 1,
        userCreatedId: attrs.credentials.userId,
        createdAt: mysqlTimeStamp(),
        updatedAt: mysqlTimeStamp()
    };

    const keyFormulario = ref(0);
    const inputs: any = ref([]);
    const documentIsReady = ref(false);
    const buttonDisabled = ref(false);
    const formdata: any = ref(initForm);
    const showMessageBox = ref(false);
    const messageBody = ref({
        messageType: "is-success",
        message: "Éxito al crear registro."
    });

    const handleSubmit = () => {
        if(buttonDisabled.value)
            return;
        buttonDisabled.value = true;
        save(attrs.seccionMenu, objectClean(formdata.value)).then(response => {
            formdata.value = initForm;
            buttonDisabled.value = false;
            showMessageBox.value = true;
            keyFormulario.value = flipStatus(keyFormulario.value);
        }).catch(error => console.error(error));
    }

    const setFormdata = (obj: any) => {
        formdata.value = {
            ...formdata.value, 
            ...obj
        };
    }

    onMounted(async () => {
        await nextTick();
        await getInputs(attrs.seccionMenuId, 'alta').then(response => {
            inputs.value = response;
            documentIsReady.value = true;
        }).catch(error => console.error(error));
    });
</script>