<template>
    <div>
        <TableComponent v-if="documentIsReady"
            :tableColumns="tableColumns"
            :tableActions="[]"
            :datatable="datatable" />
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();
    const { 
        getById,
        getInputs
    } = useApi();

    const tableColumns: any = ref([]);
    const datatable: any = ref([]);
    const documentIsReady = ref(false);

    onMounted(async () => {
        await nextTick();
        await getInputs(attrs.seccionMenuId, 'encabezado').then(response => {
            tableColumns.value = response;
        });
        await getById(attrs.seccionMenu, attrs.recordId).then(record => {
            datatable.value = [record];
            documentIsReady.value = true;
        }).catch(error => console.error(error));
    });
</script>