<template>
    <div>
        <div class="no-print columns is-multiline" style="margin-bottom: 20px;">
            <div class="column is-2" v-for="input in attrs.inputsFilters" :key="input.id">
                <div class="field">
                    <label class="label is-small"> {{ input.input_label }} </label>
                    <div class="control">
                        <InputTextFilter 
                            v-if="input.inputType === 'text'"
                            :key="input.inputName"
                            :inputData="input"
                            text=""
                            @setFilterdata="setFilterdata" />
                        <InputSelectFilter
                            v-if="input.inputType === 'select'"
                            :key="input.inputName"
                            :inputData="input"
                            defaultValue="0"
                            @setFilterdata="setFilterdata" />
                    </div>
                </div>
            </div>
            <div class="column is-12" style="padding: 0"></div>
            <div class="column is-2">
                <button id="btn" @click="handleSubmit" class="button is-small is-fullwidth">Filtrar</button>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();

    const emit = defineEmits(["setTable", "setFilterdata", "setCountFilteredList"]);

    const setFilterdata = (fd: any) => {
        emit("setFilterdata", fd);
    }

    const handleSubmit = () => {
        emit("setCountFilteredList");
        emit("setTable", 0);
    }

    window.addEventListener('keypress', e => {
        if(e.key === 'Enter')
            document.getElementById('btn')?.click();   
    });
</script>