<template>
    <div>
        <form :onSubmit="handleSubmit">
            <div class="columns is-multiline">
                <div :class="`column is-${(attrs.buttonSize) ? attrs.buttonSize : input.inputCols}`" 
                    v-for="(input, index) in attrs.inputs" :key="index">
                    <InputText v-if="inputsText.includes(String(input.inputType))"
                        :key="input.inputName"
                        :inputData="input"
                        :text="getValue(input)"
                        @setFormdata="setFormdata" />
                    <InputSelect
                        v-if="input.inputType === 'select'"
                        :key="input.inputName"
                        :inputData="input"
                        :defaultValue="getValue(input)"
                        @setFormdata="setFormdata" />
                    <InputCheckbox 
                        v-if="input.inputType === 'checkbox'"
                        :key="input.inputName"
                        :inputData="input"
                        :text="getValue(input)"
                        @setFormdata="setFormdata" />
                </div>
            </div>
            <div :class="`column is-${attrs.buttonSize}`">
                <button
                    id="btnSiguiente"
                    type="submit" 
                    class="button is-fullwidth" 
                    :disabled="attrs.buttonDisabled">
                    {{
                        (attrs.btnLabel !== undefined) ? attrs.btnLabel : "Guardar"
                    }}
                </button>
            </div>
        </form>
    </div>
</template>

<script setup lang="ts">
    import type { 
        InputConf,
        SeccionMenuInput 
    } from '~/shared/types/entities';

    const attrs: any = useAttrs();

    const {
        getObjectValue,
        uncapitalizeFirstLetter
    } = useUtils();

    const emit = defineEmits(["handleSubmit", "setFormdata"]);

    const inputsText = ['text', 'number', 'password', 'date', 'datetime-local'];

    const getValue = (input: SeccionMenuInput) => {
        let value = "";
        let disabled = false;
        let filters = {};
        const inputConf: InputConf = getObjectValue(defaultValues, String(input.inputName), {});
        if(Object.keys(inputConf).length > 0){
            value = getObjectValue(inputConf, "value", "");
            disabled = getObjectValue(inputConf, "disabled", false);
            filters = getObjectValue(inputConf, "filters", {});
        }
        if(Object.keys(record).length > 0){
            value = getObjectValue(record, String(input.inputName), "");
            if(input.inputType === "select"){
                const inputModelo = uncapitalizeFirstLetter(String(input.modelo));
                value = (record[inputModelo] === null) 
                    ? 0 
                    : record[inputModelo][input.inputId!]
            }
        }
        return value;
    }

    const getValuesFromRecord = () => {
        if(attrs.record)
            return attrs.record;
        return {};
    }

    const record = getValuesFromRecord();

    const getDefaultValues = () => {
        if(attrs.defaultValues?.[attrs.seccionMenu]){
            return attrs.defaultValues[attrs.seccionMenu];
        }
        return [];
    }

    const defaultValues = getDefaultValues();

    const buttonSize = attrs.buttonSize !== undefined ? attrs.buttonSize : 3;

    const handleSubmit = (event: any) => {
        event.preventDefault();
        emit("handleSubmit");
    }

    const setFormdata = (obj: any) => {
        emit("setFormdata", obj);
    }
</script>