<template>
    <div>
        <div className="field">
            <label className="label"> {{ input.inputLabel }} 
                <span v-show="parseInt(input.inputRequired) === 1" class="input-required">*</span>
            </label>
            <div className="control">
                <div className="select is-info is-fullwidth">
                    <select v-if="documentIsReady"
                        :value="defaultValue"
                        :name="input.inputName"
                        :required="Boolean(parseInt(input.inputRequired))"
                        :disabled="attrs.disabled"
                        @change="handleChange" >
                        <option value="">Selecciona una opción</option>
                        <option v-for="(option, index) in options" :key="index"
                            :value="option.id" >
                            {{ option[input.selectColumnas] }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();

    const { 
        getSeccionMenuListFiltered
    } = useApi();

    const input = attrs.inputData;
    const defaultValue = ref(attrs.defaultValue);
    const documentIsReady = ref(false);

    var options: any = [];
    const filters = {
        offset: 0,
        limit: 1000
    };

    const emit = defineEmits(["setFormdata"]);

    const handleChange = (event: any) => {
        let name = event.target.name;
        const value = event.target.value;
        let attr = "id";
        if(name.includes(".")){
            const params = name.split(".");
            name = params[0];
            attr = params[1];
        }
        defaultValue.value = value;
        emit("setFormdata", { [name]: {[attr]:value} });
    }

    onMounted(async () => {
        await nextTick();
        await getSeccionMenuListFiltered(input.urlGet, filters).then(response => {
            options = response;
            documentIsReady.value = true;
        });
    });
</script>