<template>
    <div>
        <div className="field">
            <label className="label is-small"> {{ input.inputLabel }} </label>
            <div className="control">
                <div className="select is-info is-small is-fullwidth">
                    <select v-if="documentIsReady"
                        :value="defaultValue"
                        :name="input.inputName"
                        @change="handleChange">
                        <option value="">Selecciona una opción</option>
                        <option v-for="(option, index) in options" :key="index"
                            :value="option.id" >
                            {{ renderSelectColumnas(option, input.selectColumnas) }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();

    const { 
        getSeccionMenuListFiltered
    } = useApi();

    const input = attrs.inputData;
    const defaultValue = ref(attrs.defaultValue);
    const documentIsReady = ref(false);

    var options: any = [];

    const emit = defineEmits(["setFilterdata"]);

    const getFilters = () => {
        let filters = {
            offset: 0,
            limit: 1000
        };
        if(attrs.filters){
            filters = {...filters, ...attrs.filters};
        }
        return filters;
    }

    const filters = getFilters();

    const handleChange = (event: any) => {
        let name = event.target.name;
        const value = event.target.value;
        let attr = "id";
        if(name.includes(".")){
            const params = name.split(".");
            name = params[0];
            attr = params[1];
        }
        defaultValue.value = value;
        emit("setFilterdata", { [name]: {[attr]:value} });
    }

    const renderSelectColumnas = (option: any, selectColumnas: string) => {
        if(String(selectColumnas).trim() === "null")
            return option['descripcion'];
        selectColumnas = selectColumnas.replace(/ /g, "");
        const columnas = selectColumnas.split(",");
        var str = "";
        columnas.forEach(columna => {
            if(columna.includes(".")){
                const deepColumn = columna.split(".");
                var deepRecord = option;
                var finalColumn = "descripcion";
                deepColumn.forEach(column => {
                    if(typeof(deepRecord[column]) === 'object' 
                        && String(deepRecord[column]) !== "null")
                        deepRecord = deepRecord[column]
                    finalColumn = column;
                });
                str += deepRecord[finalColumn]+" - ";
            }
            else
                str += option[columna]+" ";
        });
        return str;
    }

    onMounted(async () => {
        await nextTick();
        await getSeccionMenuListFiltered(input.urlGet, filters).then(response => {
            options = response;
            documentIsReady.value = true;
        });
    });
</script>