<template>
    <div>
        <div v-show="parseInt(input.newLine) === 1" style="margin-bottom: -25px" class="column is-12" ></div>
        <div class="field">
            <label class="label"> 
                {{ input.inputLabel }}
                <span v-show="parseInt(input.inputRequired) === 1" class="input-required">*</span>
            </label>
            <div class="control">
                <input class="input is-info" 
                    :id="input.inputId"
                    :name="input.inputName"
                    :type="input.inputType" 
                    :value="text"
                    :required="input.inputRequired"
                    @change="handleChange"
                    @keyDown="(event: any) => handleKeyDown(event)"
                    :placeholder="input.inputLabel"
                    :disabled=attrs.disabled />
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();
    const input = attrs.inputData;
    const text = ref(attrs.text);

    const emit = defineEmits(["setFormdata"]);

    const handleChange = (event: any) => {
        const name = event.target.name;
        const value = event.target.value;
        text.value = value;
        emit("setFormdata", { [name]: value });
    }

    const handleKeyDown = (event: any) => {
        if(event.target.type === 'datetime-local')
            event.preventDefault();
    }
</script>