<template>
    <div>
        <div class="field">
            <label class="label is-small"> 
                {{ input.inputLabel }}
            </label>
            <div class="control">
                <input class="input is-info is-small" 
                    :id="input.inputId"
                    :name="input.inputName"
                    :type="input.inputType" 
                    :value="text"
                    :required="input.inputRequired"
                    @change="handleChange"
                    @keyDown="(event: any) => handleKeyDown(event)"
                    :placeholder="input.inputLabel"
                    :disabled=attrs.disabled />
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();
    const input = attrs.inputData;
    const text = ref(attrs.text);

    const emit = defineEmits(["setFilterdata"]);

    const handleChange = (event: any) => {
        const name = event.target.name;
        const value = event.target.value;
        text.value = value;
        emit("setFilterdata", { [name]: value });
    }

    const handleKeyDown = (event: any) => {
        if(event.target.type === 'datetime-local')
            event.preventDefault();
    }
</script>