<template>
    <div>
        <label class="checkbox label">
            <input
                class="my-check"
                type="checkbox"
                :name="input.inputName"
                :value="text"
                :checked="Boolean(checked)"
                @change="handleChange" />
                {{ input.inputLabel }}
        </label>
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();
    const input = attrs.inputData;
    var text = attrs.text;

    const emit = defineEmits(["setFormdata"]);

    const handleChange = (event: any) => {
        const name = event.target.name;
        const value = event.target.value;
        setInputCheck(value);
        emit("setFormdata", { [name]: value });
    }

    const setAttrChecked = (value: number) => {
        return value === 1 ? true : false;
    }

    const  setInputCheck = (val: number) => {
        const value = setAttrChecked(val);
        checked = Boolean(value);
        text = value;
    }

    var checked = setAttrChecked(text);
</script>