<template>
    <div>
        <FiltersComponent v-if="documentIsReady"
            :seccionMenuId="attrs.seccionMenuId"
            :seccionMenu="attrs.seccionMenu"
            :inputsFilters="inputsFilters"
            @setFilterdata="setFilterdata"
            @setCountFilteredList="setCountFilteredList"
            @setTable="setTable" />
        <TableComponent v-if="documentIsReady"
            :key="control"
            :tableColumns="tableColumns"
            :tableActions="tableActions"
            :datatable="datatable"
            :functions="functions"
            :userId="attrs.credentials.userId"
            @setFormdata="setFormdata" />
        <ModalUpdate v-if="showModal"
            :recordId="recordId"
            :record="record"
            :inputs="inputsModal"
            :seccionMenuId="attrs.seccionMenuId"
            :seccionMenu="attrs.seccionMenu"
            :formdata="formdata"
            @setShowModal="setShowModal"
            @setTable="setTable" />
        <PaginationComponent v-if="documentIsReady"
            class="no-print"
            style="margin-top: 20px;"
            :currentPage="currentPage"
            :totalPages="totalPages"
            :paginationButtons="paginationButtons"
            @setCurrentPage="setCurrentPage"
            @handlePagination="handlePagination" />
        <download-excel v-if="xlsIsReady"
            style="margin-top: 20px;"
            class="button no-print"
            :data="datatable"
            :fields="xlsColumns"
            type="xlsx"
            :name="attrs.seccionMenu+'.xlsx'">
            Excel
        </download-excel>
    </div>
</template>

<script setup>
    import DownloadExcel from "vue-json-excel3";
    const { 
        countFilteredList,
        deleteRecord,
        getById,
        getInputs, 
        getNavbarActions,
        getTableActions,
        getSeccionMenuListFiltered,
        updateRecord
    } = useApi();
    const {
        flipStatus,
        mysqlTimeStamp,
        objectClean,
        arrayColumn,
        arrayCombine
    } = useUtils();

    const attrs = useAttrs();

    const off = 0;
    const limit = 30;
    var currentPage = 1;
    const maxButtons = 7;
    var totalPages = 0;
    var paginationButtons = [];
    var filterdata = {
        userId: attrs.credentials.userId,
        offset: off,
        limit: limit
    };

    const inputsFilters = ref([]);
    const xlsColumns = ref({});
    const tableColumns = ref([]);
    const tableActions = ref([]);
    const datatable = ref([]);
    const documentIsReady = ref(false);
    const xlsIsReady = ref(false);
    const control = ref(0);
    const inputsModal = ref([]);
    const showModal = ref(false);
    const recordId = ref(-1);
    const record = ref({});
    const formdata = ref({});

    const handlePagination = (page) => {
        if(parseInt(page) === 1)
            setPaginationButtons();
        if(parseInt(page) === totalPages)
            setPaginationButtonsReverse();
        const offset = limit * (page - 1);
        setTable(offset);
    }

    const setFilterdata = (obj) => {
        filterdata = {
            ...filterdata, 
            ...obj
        };
    }

    const setFormdata = (obj) => {
        formdata.value = {
            ...formdata.value, 
            ...obj
        };
    }

    const setCountFilteredList = () => {
        const fd = objectClean(filterdata);
        const lim = (fd.limit !== undefined) ? fd.limit : limit;
        countFilteredList(attrs.seccionMenu, fd).then(response => {
            response.json().then(data => {
                const tPages = Math.ceil(parseFloat(String(data / lim)));
                totalPages = tPages;
                setPaginationButtons();
            });
        }).catch(error => console.error(error));
    }

    const setCurrentPage = (page) => {
        currentPage = page;
    }

    const setPaginationButtons = () => {
        paginationButtons = renderPaginationButtons();
    }

    const setPaginationButtonsReverse = () => {
        paginationButtons = renderPaginationButtonsReverse();
    }

    const renderPaginationButtons = () => {
        var i = 2;
        var buttons = [];
        if(totalPages - i  < 1)
            return buttons;
        do{
            buttons.push(i++);
        }while(i <= maxButtons && i < totalPages);
        return buttons;
    }

    const renderPaginationButtonsReverse = () => {
        if(maxButtons >= totalPages)
            return renderPaginationButtons();
        var i = totalPages - maxButtons;
        if(i === 1) i++;
        var buttons = [];
        var j = 1;
        do{
            buttons.push(i++);
            j++;
        }while(j <= maxButtons && i < totalPages);
        return buttons;
    }

    const update = (id) => {
        getById(attrs.seccionMenu, id).then(recordResponse => {
            getInputs(attrs.seccionMenuId, 'modifica').then(response => {
                inputsModal.value = response;
                recordId.value = id;
                record.value = recordResponse;
                showModal.value = true;
            }).catch(error => console.error(error));
        }).catch(error => console.error(error));
    }
    
    const eliminar = (recordId) => {
        deleteRecord(attrs.seccionMenu, recordId).then(response => {
            setTable(currentPage);
        }).catch(error => console.error(error));
    }

    const changeStatus = (recordId) => {
        getById(attrs.seccionMenu, recordId).then((data) => {
            data.userUpdatedId = attrs.credentials.userId;
            data.updatedAt = mysqlTimeStamp();
            data.status = flipStatus(data.status);
            updateRecord(attrs.seccionMenu, recordId, data).then(response => {
                setTable(currentPage);
            }).catch(error => console.error(error));
        }).catch(error => console.error(error));
    }
    
    const functions = ref({
        changeStatus: changeStatus,
        eliminar: eliminar,
        update: update
    });

    onMounted(async () => {
        await nextTick();
        await getInputs(attrs.seccionMenuId, 'filtro').then(response => {
            inputsFilters.value = response;
        });
        await getInputs(attrs.seccionMenuId, 'lista').then(response => {
            const labels = arrayColumn(response, "inputLabel");
            const columns = arrayColumn(response, "inputName");
            xlsColumns.value = arrayCombine(labels, columns);
            tableColumns.value = response;
        });
        await getNavbarActions(attrs.seccionMenuId, attrs.credentials.grupo.id).then(response => {
        });
        await getTableActions(attrs.seccionMenuId, attrs.credentials.grupo.id).then(response => {
            tableActions.value = response;
        });
        setCountFilteredList();
        await setTable(0);
    });

    const setShowModal = () => {
        showModal.value = false;
    }

    const setTable = async (offset) => {
        const fd = objectClean(filterdata);
        if(fd.limit === undefined)
            fd.limit = limit;
        fd.offset = offset;
        await getSeccionMenuListFiltered(attrs.seccionMenu, fd).then(response => {
            datatable.value = response;
            control.value = flipStatus(control.value);
            documentIsReady.value = true;
            xlsIsReady.value = true;
        });
    }
</script>