<template>
    <div class="message" :class="[messageType]">
        <div class="message-body">
            {{ message }}
        </div>
    </div>
</template>

<script setup lang="ts">
    const attrs = useAttrs();
    const messageBody: any = attrs.messageBody;
    const messageType = messageBody.messageType;
    const message = messageBody.message;
</script>