<template>
    <div class="modal is-active">
        <div class="modal-background"></div>
        <form class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modifica registro</p>
                <button @click="closeModal" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <MessageBox 
                    v-if="showMessageBox"
                    :messageBody="messageBody" />
                <EncabezadoComponent
                    :seccionMenuId="attrs.seccionMenuId"
                    :seccionMenu="attrs.seccionMenu"
                    :recordId="attrs.recordId" />
                <FormularioComponent 
                    :inputs="attrs.inputs"
                    :buttonDisabled="buttonDisabled"
                    :buttonSize="12"
                    :record="attrs.record"
                    @handleSubmit="performUpdate"
                    @setFormdata="setFormdata" />
                <MessageBox 
                    v-if="showMessageBox"
                    :messageBody="messageBody" />
            </section>
        </form>
    </div>
</template>

<script setup lang="ts">
    const {
        updateRecord
    } = useApi();
    const attrs: any = useAttrs()
    const showMessageBox = ref(false);
    const messageBody = ref({
        messageType: "is-success",
        message: "Éxito al modificar registro."
    });
    const buttonDisabled = ref(false);
    const inputsText = ['text', 'number', 'password', 'date', 'datetime-local'];
    var formdata: any = attrs.formdata;

    const emit = defineEmits(["setShowModal", "setTable"]);

    const closeModal = () => {
        emit("setShowModal");
    }

    const setFormdata = (obj: any) => {
        formdata = {
            ...formdata, 
            ...obj
        };
    }

    const performUpdate = () => {
        if(buttonDisabled.value)
            return;
        buttonDisabled.value = true;
        for (let [key, value] of Object.entries(formdata))
            attrs.record[key] = value;
        updateRecord(attrs.seccionMenu, attrs.recordId, attrs.record).then(response => {
            showMessageBox.value = true;
            emit("setTable");
        }).catch(error => console.error(error));
    }
</script>