<template>
    <div>
        <NuxtLink :to="{
                name: attrs.seccion.descripcion,
            }" 
            class="router-link-active has-icon dropdown-item w3-button" >                        
            <span class="menu-item-label"> {{ attrs.seccion.navbarLabel }} </span>
        </NuxtLink>
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();
</script>