<template>
    <div>
        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            <a href="#" class="pagination-previous">Anterior</a>
            <a href="#" class="pagination-next">Siguiente</a>
            <ul class="pagination-list">
                <li>
                    <a 
                        :ref="el => { paginationButtons[1] = el }"
                        href="#" 
                        id="page1"
                        class="pagination-link is-current" 
                        aria-label="Goto page 1"
                        @click="handleChanges(1)"> 1 
                    </a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li v-for="(page, index) in attrs.paginationButtons" :key="index">
                    <a 
                        :ref="el => { paginationButtons[page] = el }"
                        href="#" 
                        :id="`page${page}`"
                        class="pagination-link" 
                        aria-label="Goto page"
                        @click="handleChanges(page)">
                        {{ page }}
                    </a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                <li>
                    <a 
                        :ref="el => { paginationButtons[attrs.totalPages] = el }"
                        href="#" 
                        :id="`page${attrs.totalPages}`"
                        class="pagination-link" 
                        aria-label="Goto page"
                        @click="handleChanges(attrs.totalPages)">
                        {{ attrs.totalPages }}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script setup lang="ts">
    const attrs: any = useAttrs();
    const paginationButtons: any = ref([]);
    var currentPage = attrs.currentPage;

    const emit = defineEmits([
        "setCurrentPage", 
        "handlePagination"
    ]);

    const handleChanges = (page: number) => {
        const currentPageElemt = paginationButtons.value[currentPage];
        currentPageElemt!.className = currentPageElemt!.className.replace("is-current", "");
        emit("setCurrentPage", page);
        currentPage = page;
        const newPageElemt = paginationButtons.value[page];
        newPageElemt!.className += " is-current";
        emit("handlePagination", page);
    }
</script>