<template>
    <div>
        <div class="w3-bar w3-top w3-deep-orange w3-large my-top-bar no-print">
            <button
                @click="w3Open"
                class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey">
                <i class="fa fa-bars"></i> Menu
            </button>
            <span class="w3-bar-item w3-right">...::: Nuxt3 :::...</span>
        </div>
        <nav class="w3-sidebar my-sidebar" ref="mySidebar">
            <div class="w3-container w3-row">
                <div class="w3-col s3"></div>
                <div class="w3-col s9 w3-bar">
                    <span>Bienvenido, <strong>{{ credentials.username }}</strong></span><br/>
                    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                    <a href="#" @click="logout" class="w3-bar-item w3-button"><i class="fa fa-power-off"></i></a>
                </div>
            </div>
            <hr></hr>
            <div class="w3-bar-block">
                <AccordionComponent 
                    :credentials="credentials" />
            </div>
        </nav>
        <div class="w3-overlay w3-hide-large w3-animate-opacity" @click="w3Close" title="close side menu" ref="myOverlay"></div>
    </div>
</template>

<script setup lang="ts">
    const {
        castNullToString
    } = useUtils();
    const emit = defineEmits(["setStyle"]);

    //const credentials: any = attrs.credentials;
    const useAuth = useAuthenticationStore();
    const credentials:any = useAuth.credentials;
    if(castNullToString(credentials) === "")
        navigateTo('/login');
    
    // Get the Sidebar
    var mySidebar: any = ref(null);

    // Toggle between showing and hiding the sidebar, and add overlay effect
    const w3Open = () => {
        if (mySidebar.value.style.display === 'block')
            w3Close();
        else{
            mySidebar.value.style.width = '280px';
            emit("setStyle", 280);
            mySidebar.value.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    const w3Close = () => {
        mySidebar.value.style.width = '0';
        emit("setStyle", 0);
        mySidebar.value.style.display = "none";
    }

    const logout = () => {
        const useAuth = useAuthenticationStore();
        useAuth.credentials = null;
        navigateTo('/login/');
    };

    onMounted(async () => {
        await nextTick();
    });
</script>