<template>
    <div>
        <table id="myTable" class="table is-bordered display">
            <thead>
                <tr>
                    <th v-if="Object.keys(tableActions).length > 0" class="no-print">Acciones</th>
                    <th v-for="(column, index) in arrayColumn(tableColumns, 'inputLabel')" 
                        :key="index"> {{column}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(record, index) in datatable" :key="index">
                    <td v-if="Object.keys(tableActions).length > 0" class="no-print">
                        <i v-for="(action, idx) in tableActions" 
                            :key="idx"
                            :class="renderAction(action, record)"
                            @click="handleAction(action.callMethod, record)">
                        </i>
                    </td>
                    <td v-for="(column, index) in tableColumns" 
                        :key="index" 
                        :class="(record['status'] === 0) ? 'record-inactive' : ''">
                        {{ renderColumn(record, column) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script setup>
    import DataTable from 'datatables.net-dt'

    const emit = defineEmits(["setFormdata"]);
    
    const attrs = useAttrs();
    const tableColumns = ref(attrs.tableColumns);
    const tableActions = ref(attrs.tableActions);
    const datatable = ref(attrs.datatable);

    const {
        arrayColumn,
        mysqlTimeStamp
    } = useUtils();

    const handleAction = (action, record) => {
        if(attrs.functions[action]){
            const recordId = record.id;
            emit("setFormdata", {
                userUpdatedId: attrs.userId,
                updatedAt: mysqlTimeStamp()
            });
            attrs.functions[action](recordId);
        }
    }

    const renderAction = (action, record) => {
        if(record['status'] === 0 && action.descripcion === 'deactivate')
            return null;
        if(record['status'] === 1 && action.descripcion === 'activate')
            return null;
        return 'fa fa-'+action.icon+' fa-fw';
    }

    const renderColumn = (record, column) => {
        const columnName = column.inputName;
        if(columnName.includes(".")){
            const deepColumns = columnName.split(".");
            var deepRecord = record;
            deepColumns.forEach(deepColumn => {
                if(typeof(deepRecord[deepColumn]) === 'object' && String(deepRecord[deepColumn]) !== "null"){
                    deepRecord = deepRecord[deepColumn]
                }
            });
            return deepRecord[column.inputId];
        }
        if(typeof(record[columnName]) === 'object' && String(record[columnName]) !== "null"){
            return record[columnName][column.inputId];
        }
        /*return (columnName.includes("status") && columnsStatus.includes(parseInt(record[columnName])) ) 
        ? (parseInt(record[columnName])) 
            ? <i class="fa fa-circle-check" style="color: DodgerBlue; font-size: 17px"></i> 
            : null
        : record[columnName];*/
        return record[columnName];
    }

    onMounted(async () => {
        await nextTick();
        const table = new DataTable('#myTable', {
            searching: false,
            responsive: true,
            pageLength: 30,
            paging: false,
            info: false,
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
            },
            bDestroy: true
        });
    });
</script>