<template>
    <div v-if="documentIsReady">
        <SideNav
            class="no-print"
            @setStyle="setStyle" />
        <div class="w3-main my-main" ref="myMain">
            <slot />
        </div>
    </div>
</template>

<script setup lang="ts">
    const {
        castNullToString
    } = useUtils();
    const useAuth = useAuthenticationStore();
    const credentials: any = useAuth.credentials;
    const documentIsReady = ref(false);
    if(castNullToString(credentials) === "")
        navigateTo('/login/');
    else
        documentIsReady.value = true;

    var myMain: any = ref(null);

    const setStyle = (px: number) => {
        myMain.value.style.marginLeft = px+'px';
    }
</script>