<template>
    <div>
        <nav class="breadcrumb no-print" aria-label="breadcrumbs">
            <ul>
                <li><a class="my-bread" style="color: black;"><b>{{ navbarLabel }}</b></a></li>
                <li v-for="(breadcrumb, index) in breadcrumbs" :key="index">
                    <a @click="navigate(breadcrumb.callMethod)">
                        <i :class="'fa fa-'+breadcrumb.icon+' fa-fw'"></i>
                        {{ breadcrumb.label }}
                    </a>
                </li>
            </ul>
        </nav>
        <AltaComponent v-if="documentIsReady && alta"
            :seccionMenuId="seccionMenuId"
            :seccionMenu="seccionMenuDesc"
            :credentials="credentials" />
        <ListaComponent v-if="documentIsReady && lista"
            :seccionMenuId="seccionMenuId"
            :seccionMenu="seccionMenuDesc"
            :credentials="credentials" />
    </div>
</template>

<script setup lang="ts">
    const { 
        getSeccionMenu, 
        getBreadcrumbs 
    } = useApi();

    const {
        arrayColumn
    } = useUtils();

    const route = useRoute();
    const useAuth = useAuthenticationStore();
    const credentials: any = useAuth.credentials;
    const seccionMenuId = ref(-1);
    const seccionMenuDesc = ref(route.path.replace("/", ""));
    const navbarLabel = ref("");
    const breadcrumbs: any = ref([]);
    const documentIsReady = ref(false);
    const alta = ref(false);
    const lista = ref(false);

    const navigate = (callMethod: string) => {
        eval(String(callMethod))();
    }

    const create = () => {
        if(Boolean(alta.value) === true)
            return;
        lista.value = false;
        alta.value = !alta.value;
    }

    const read = () => {
        if(Boolean(lista.value) === true)
            return;
        alta.value = false;
        lista.value = !lista.value;
    }

    onMounted(async () => {
        await nextTick();
        await getSeccionMenu(seccionMenuDesc.value).then(response => {
            seccionMenuId.value = response.id;
            navbarLabel.value = response.navbarLabel;
            getBreadcrumbs(response.id, credentials.grupo.id).then(response => {
                if(arrayColumn(response, 'descripcion').includes('read'))
                    read();
                breadcrumbs.value = response;
                documentIsReady.value = true;
            });
        });
        
    });
</script>