<template>
    <div>
        <h1>Welcome to the homepage</h1>
    </div>
</template>

<script setup lang="ts">
    const useAuth = useAuthenticationStore();
    if(useAuth.isAuthenticated !== null)
        navigateTo('/dashboard/');
    else
        navigateTo('/login/');
</script>

<style>
    @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
    @import "https://www.w3schools.com/w3css/4/w3.css";
    @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css";
    @import "//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css";
</style>