<template>
    <div class="my-login">
        <MessageBox 
            v-show="showMessageBox"
            :messageBody="messageBody" />
        <div class="field">
            <div class="control">
                <input 
                    class="input" 
                    type="text" 
                    v-model="username"
                    placeholder="username" />
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input 
                    class="input" 
                    type="password" 
                    v-model="password"
                    placeholder="password" />
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button 
                    type="submit" 
                    class="button is-fullwidth" 
                    @click="handleSubmit">Log in</button>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
    definePageMeta({
        layout: false,
    });
    
    const useAuth = useAuthenticationStore();
    
    const username = ref('');
    const password = ref('');
    const showMessageBox = ref(false);
    const messageBody = {
        messageType: "is-danger",
        message: "Permission not granted."
    }

    const handleSubmit = () => {
        if(username.value.length > 0 && password.value.length > 0){
            useAuth.getCredenctials(username.value, password.value).then(response => {
                useAuth.setCredentials(response);
                navigateTo('/');
            }).catch(err => {
                showMessageBox.value = true;
                return Promise.reject(err)
            });
        }
    }
</script>